---
---

@import "{{ site.theme }}";

:root {
    --consyst-color: #ff884d;
    --consyst-color-light: #ffd1b3
}

#project_title {
	color: var(--consyst-color);
}

.feature {
  background-color: var(--consyst-color);
  margin: 6px;
  padding: 12px;
  width: 32%;
  text-align: center;
}

#featureparent{
    display:flex;
    background-color: var(--consyst-color-light);
    justify-content: space-between;
    width: 100%
}

.tryout {
  background-color: var(--consyst-color-light);
  margin: 6px;
  padding: 12px;
  width: 100%;
  text-align: center;
}

.highlight {
  background-color: var(--consyst-color-light);
}

pre, code {
  background-color: #eeeeee;
}

a {
  color: #802b00;
}
